/* .input{width: 400px; display: block; margin-bottom: 200px;
margin-left: auto;
margin-right: auto; padding-top: 10px;padding-bottom: 10px;
padding-left: 30px;padding-right: 30px;
border: 1px solid #dfe1e5;
border-radius: 24px; line-height: 24px;}
img{width: 200px; display: block;
margin-left: auto;
margin-right: auto;}
 .main{margin-top: 100px;
}
 .btn{margin-left: 4px;
    margin-right: 4px;
background: #dfe1e5;
border: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 4px;
font-size: 14px;
}
.btn-wrapper{display: flex;
justify-content: center;} */
 /* .card{color: #222222;
background: lightgrey;
width: 300px;
margin-top: 50px;
border: 4px solid #222222;
border-radius: 20px;
margin-left: auto;
margin-right: auto;
padding: 20px;} */
/* body{margin: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.avatar{width: 150px; height: 150px;}
.card{
    padding: 20px;
    display: flex; justify-content:space-around;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}
.border-blue{ border: 1px dotted blue;
} */
/*  body{margin:o;
    color:#ACC8E5 ;
    text-align: center;
    font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    
    }
 
.btn{padding: 6px 12px;
background-color: white;
border: none;
font-family: "Orbitron", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
color: #ACC8E5;
font-weight: 800;}
.underline{border-bottom:4px solid white;}
#main-logo{width: 100px;}
#hero {background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExanIzYWp2bjJ2cGwyMW1qbml3YWdnbnc3cXoxZDV2bGF4NGdpcjRqciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/iicDrNGWxHmDrIni6j/200.web
  

